/* =========================================================
   MAIN
========================================================= */

#main-content {
    width: 100%;
    max-width: 1200px;
    margin: 60px auto 20px;
    background: white;
    min-height: calc(100vh - 90px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
}